.container {
}

.container h1 {
  text-align: center;
}

.container nav ul {
  background-color: white;
  display: flex;
  list-style-type: none;
  /* border: solid; */

  text-align: center;
}
.container nav a {
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 0 0.25rem;
}
.container nav a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: black;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
