<h1>Movies</h1>


<ul *ngIf="movies">
    <div class="sort-controls">
        <span>By: </span>
        <button (click)="onSort('title')">
            Title
        </button>
        <button (click)="onSort('releaseDate')">
            Release Date
        </button>
    </div>

    <li class=" column-names">
        <span>VOTES</span>
        <span>TITLE</span>
        <span>RELEASE DATE</span>
        <span># ACTORS</span>
        <span class="description-column">DESCRIPTION</span>
    </li>

    <li *ngFor="let movie of movies">
        <span>
            <button (click)="onVote(movie.id, movie.votes-1)">-</button>
            {{movie.votes}}
            <button (click)="onVote(movie.id, movie.votes+1)">+</button>
        </span>
        <span>{{movie.title}}</span>
        <span>{{movie.releaseDate}}</span>
        <span>{{movie.numberOfActors}}</span>
        <span class="description-column">{{movie.description}}</span>
    </li>
</ul>